/* --- SETTINGAN AWAL --- */
:root {
  --bg-color: #2d1b4e; /* Ungu gelap */
  --container-bg: #f0f0f0; /* Abu terang */
  --text-color: #222;
  --accent-green: #00e676; /* Hijau neon */
  --accent-red: #ff1744; /* Merah neon */
  --border-style: 4px solid #000; /* Border tebal khas pixel */
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: var(--bg-color);
  padding: 30px;
  image-rendering: pixelated;
  font-size: 12px;
  color: var(--text-color);
}

/* --- WADAH UTAMA (Biar rapi di tengah) --- */
.game-container {
  background-color: var(--container-bg);
  border: var(--border-style);
  box-shadow: 8px 8px 0px #000;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-color);
  text-shadow: 2px 2px 0px #bbb;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* --- FORMULIR --- */
form {
  border: var(--border-style);
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input,
select,
textarea {
  font-family: "Press Start 2P", cursive;
  width: 90%; /* Diset 90% biar gak nabrak pinggir */
  padding: 10px;
  border: 2px solid #000;
  background: #eee;
  font-size: 10px;
  margin-bottom: 15px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  background: #fff;
  border-color: var(--accent-green);
}

/* --- TOMBOL --- */
button,
.btn {
  font-family: "Press Start 2P", cursive;
  background-color: var(--accent-green);
  color: #000;
  border: var(--border-style);
  padding: 15px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  box-shadow: 4px 4px 0px #000;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

button:active,
.btn:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

/* --- TABEL --- */
table {
  width: 100%;
  border-collapse: collapse;
  border: var(--border-style);
  font-size: 10px;
  background: #fff;
}

th {
  background-color: var(--bg-color);
  color: #fff;
  padding: 15px;
  text-align: left;
}

td {
  border: 2px solid #000;
  padding: 10px;
}

/* Link Aksi (Edit/Hapus) */
td a {
  text-decoration: none;
  color: #fff;
  padding: 5px 8px;
  border: 2px solid #000;
  display: inline-block;
  font-size: 8px;
}

td a[href*="hapus"] {
  background-color: var(--accent-red);
}
td a[href*="edit"] {
  background-color: #2980b9;
}

td a:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
